{% extends 'base.html' %}
{% load static %}
{% block title %} Cotação Agora {% endblock %}

{% block content %}
<div class="container">
    <div class="col-12">
        <p><h2>Cotação em tempo real, via API HG Finance Brasil</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Real</th>
                <th scope="col">1 Dolar</th>
                <th scope="col">1 Euro</th>
                <th scope="col">1 Libra</th>
                <th scope="col">1 Peso</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        <tbody>
            {% for moeda in moedas %}
            <tr>
                <th scope="row">Custo em Reais</th>
                <th class="dolar" scope="row">{{ moeda.dolar }}</th>
                <th class="euro" scope="row">{{ moeda.euro }}</th>
                <th class="libra" scope="row">{{ moeda.libra }}</th>
                <th class="peso" scope="row">{{ moeda.peso }}</th>
                <th class="data" scope="row">{{ moeda.data }}</th>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'parciais/_paginacao.html' %}

{% endblock%}

