{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index'%}">Cotação agora</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://github.com/WellingtonMarinho13" target="_blank">GitHub<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/WellingtonMarinho13/Consumindo_API_HG_Brasil" target="_blank">Link desse repositório</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clima' %}" target="_blank">Weather</a>
        </li>

       
      </ul>
      
    </div>
  </nav>