{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
{% include 'parciais/_head.html' %}

<body>
  {% include 'parciais/_nav.html' %}
    {% block content%}{% endblock%}

    <script src="{% static 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' %}"></script>
    <script src="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' %}"></script>
</body>
</html>